<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间必须和UserMapper全类名相同-->
<mapper namespace="com.mall.dao.UserLoginDao">
    <select id="getUserByUsername" resultType="com.mall.entity.UserLoginInfo">
        select id, username, password, role from user_login where username = #{username};
  </select>

    <select id="getRolesByUserId" resultType="com.mall.entity.Role">
        select * from role where id in(select rid from user_login_role where uid=#{uid});
    </select>

</mapper>